* {
   
 box-sizing: border-box;
 font-family: sans-serif;

    
}
body{
    font-family: sans-serif;
}

/******HEADER******/
.header{
    padding-top: 6px;
    padding-bottom: 6px;

}
.header-block{
    max-width:100%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.header-block .fa-th{
 font-size: 18px;
 padding: 12px;
 cursor: pointer;
 color:gray;
    
}
.header-block .fa-th:hover{
    color:black;
    
   }
.header img{
    max-width: 100%;
   border-radius: 50%;
}
.gmail-user{
    border-radius: 50%;
    width:35px;
    height: 35px;
    margin-top: 10px;
    margin-right:30px;
    cursor: pointer;
    
}

.header-link{
    text-decoration: none;
    color:#333;
    padding: 8px;
    font-size: 12px;
    
}
.header-link:hover{
    color: black;
}

/****MAIN*******/
.main{
    text-align: center;
    height: 495px;
}
.google-image img {
   margin:100px auto 10px;
   width:250px;
   
}
input:focus {outline:none!important;}
.search{
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-input{
    padding: 5px 30px 5px 12px;
    width: 500px;
    margin-top:20px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    

}
.search-input:hover{
    box-shadow: 2px 2px 5px gray;
}

i.fa-search  {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: -35px;
    margin-top: 15px;
    color:rgb(190, 190, 190);
    position: relative;
    z-index: 1;
    float: left;
  }
  
  i.fa + input {
    padding-left: 35px;
  }
  .microphone-icon {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIvPjxwYXRoIGZpbGw9IiM0Mjg1RjQiIGQ9Ik0xMiAxNWMxLjY2IDAgMi45OS0xLjM0IDIuOTktM0wxNSA1YzAtMS42Ni0xLjM0LTMtMy0zUzkgMy4zNCA5IDV2N2MwIDEuNjYgMS4zNCAzIDMgM3oiLz48cGF0aCBmaWxsPSIjMzRBODUzIiBkPSJNMTEgMTguOTJoMlYyMmgtMnoiLz48cGF0aCBmaWxsPSIjRjRCNDAwIiBkPSJNNyAxMkg1YzAgMS45My43OCAzLjY4IDIuMDUgNC45NWwxLjQxLTEuNDFDNy41NiAxNC42MyA3IDEzLjM4IDcgMTJ6Ii8+PHBhdGggZmlsbD0iI0VBNDMzNSIgZD0iTTEyIDE3Yy0xLjM4IDAtMi42My0uNTYtMy41NC0xLjQ3bC0xLjQxIDEuNDFBNi45OSA2Ljk5IDAgMCAwIDEyLjAxIDE5YzMuODcgMCA2Ljk4LTMuMTQgNi45OC03aC0yYzAgMi43Ni0yLjIzIDUtNC45OSA1eiIvPjwvc3ZnPg==) no-repeat center;
    background-size: 21px 21px;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    z-index:20;
    right:450px;
    top: 284px;
    height: 21px;
    width: 21px;
    border:2px solid transparent;
}
.keyboard-icon{
    background: url(/img/keyboard.png) no-repeat center;
    background-size: 21px 21px;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    z-index:20;
    right:480px;
    top: 284px;
    height: 21px;
    width: 21px;
    border:2px solid transparent;
}
button:active, button:focus {
    outline: none !important;
  }
  button::-moz-focus-inner {
    border: 0 !important;
  }



  .buttons {
    text-align: center;
    padding-top: 30px;
    text-decoration: none;
    border-color:none;
    
  }
  #google_search{
      border:none;
      background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
      border-radius: 4px;
      background-color:#f2f2f2 ;
      font-size: 14px;
      line-height: 27px;
      margin-right: 12px;
      width: 120px;
      height: 30px;
      color:#5F6368;
  }
  #google_search:hover{
    color:black;
    border:1px solid gray;
    background-color: rgb(250, 249, 249);
  }
  #lucky{
    border:none;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    border-radius: 4px;
    background-color: #f2f2f2 ;
    font-size: 14px;
    line-height: 27px;
    width: 120px;
    height: 30px;
    color:#5F6368;
  }
  #lucky:hover{
    color:black;
    border:1px solid gray;
    background-color: rgb(250, 249, 249);
  }

  .text{
     padding-top:20px;
    font-size: 12px;
  }



/*****FOOOTER****/

.location{
    width: 100%;
    display: flex;
    background-color:  rgba(235, 235, 235, 0.829);
    height:35px;
    color:gray;
    font-size: 14px;
    border:1px solid rgb(218, 216, 216);
}
.location-text{
     margin-top:8px;
     margin-left:15px;
}
.info{
    
    width: 100%;
    background-color:  rgba(235, 235, 235, 0.829);
    height:35px;
    color:gray;
    font-size: 12px;
    display: flex;
    align-items: center;
    
    
    }

.info-link {
      margin-left:15px;
      text-decoration: none;
      font-size: 13px;
      color:gray;
  }
  .info-link:hover{
    color:gray;
  }
  .one{
      flex-grow:1;
  }
  .four{
      flex-grow:25;
  }
